<div class="row w-75 mx-auto">
    <div class="container col-8">
        <%- include ("chat-box.ejs") %>
    </div>
    <div class="container col-3">
        <%- include ("users-list.ejs") %>
    </div>
</div>