<div class="card border-dark ">
    <div class="card-header container-title bg-primary">
        Chat
    </div>
    <div id="chat-content" class="card-body">
    </div>
    <div class="card-footer">
        <div id="chat-footer">
            <form class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <input type="button" value="Enviar" class="btn btn-primary">
                </div>
            </form>

        </div>

    </div>
</div>