<div class="custom-navbar">
    <span class="title-navbar">
        MELARC AB CHAT
    </span>
    <span class="nav-element">
        Chat
    </span>

    <span class="nav-element">
        Login
    </span>
</div>