@font-face {
    font-family: 'Minecraft';
    src: URL('../fonts/Minecraft.ttf') format('truetype');
}

@font-face {
    font-family: 'Dogica';
    src: URL('../fonts/dogica.ttf') format('truetype');
}

body {
    background: #005AA7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFDE4, #005AA7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100%;
}

.container-title {
    font-family: 'Minecraft';
    color: white;
}